<html>
    <head>
        <title>Sin's blog</title>
    </head>
    <body>
        <dev>
            <h1><a href="">Django Practice blog</a></h1>
        </dev>

        <dev>
            <p>published:   15.06.2021, 15:40</p>
            <h2><a href="">My first Post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                tor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </dev>

        <dev>
            <p>published:   15.06.2021, 15:47</p>
            <h2><a href="">My Second Post</a></h2>
            <p>Aenean eu leo quam. Pellentsque ornare sem lacinia quam venenatis vesti bulum.</p>
        </dev>
    </body>
</html>