<html>
    <head>
        <title>Sin's blog</title>
    </head>
    <body>
    <dev>
        <h1><a href="">Django Practice blog</a></h1>
    </dev>
    {% for post in posts %}
        <dev>
            <p>published:   {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </dev>
    {% endfor %}

    {% for post in posts %}
        <dev>
            <p>published:   {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </dev>
    {% endfor $}
    </body>
</html>